Source: node-has-unicode
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Yogiraj Kulkarni <yogirajkulkarni1411@gmail.com>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-require-inject <!nocheck>
 , node-tap <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-has-unicode
Vcs-Git: https://salsa.debian.org/js-team/node-has-unicode.git
Homepage: https://github.com/iarna/has-unicode
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-has-unicode
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Try to guess if your terminal supports unicode
 This module actually detects UTF-8 support.
 .
 Node.js is an event-based server-side JavaScript engine.
